<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!doctype html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- Vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        .centerItem {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .formattedText {
            font-family: 'Do Hyeon', sans-serif;
            font-size: 56px;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../arclightning_frontend/images/logo.png" style="height: 250%;" alt="">
  </a>
	<ul class="nav nav-tabs navbar-right">
		<li role="presentation" class="active"  style="font-family: 'Do Hyeon', sans-serif; font-size: 18px;"><a href="#">login</a></li>
		<li role="presentation" style="font-family: 'Do Hyeon', sans-serif; font-size: 18px;color: black;"><a href="registration.html">new account</a></li>
	</ul>

</nav> 

    <div class="row" style="width:100vw; height:100vh; padding: 0; margin: 0;">
        <div id="login" class="col-md-6 col-md-offset-3 col-xs-12" style="height:60vh; top: 20%;">

            <form id="loginForm" class="formattedText" v-on:submit="login()">
                <input type="text" placeholder="username" id="username" style="width: 100%; border:none; border-bottom: 2px solid black;"
                    v-model="username" required /> <br>
                <input type="password" placeholder="password" id="password" style="width: 100%; border:none; border-bottom: 2px solid black; bottom: 3px;"
                    v-model="pw" required /><br>
            </form>
            <button form="loginForm" class="formattedText" style="margin: 10px 0; width: 100%; line-height: 1.0;">log in</button>
        </div>
    </div>
</body>
<script>
    new Vue({
        el: '#login',
        props: ['username', 'pw',],
        methods: {
            login: function () {
                    axios.post('http://hostname/api/v1/register', JSON.stringify({ username: this.username, password: this.password }))
			//should this redirect to settings page probably?
                    alert("You're logged in!")
                }
            }
    })

</script>

</html>
